<!-- ====================================
     HEADER
==================================== -->

<header class="header fade-up">

    <div class="container nav">

        <div class="logo">
            <a href="index.html">Diego Łopato</a>
        </div>

        <nav>

            <a href="index.html">Home</a>

            <a href="about.html">About</a>
            
            <a href="career.html">Career</a>

            <a href="media.html">Media</a>

            <a href="contact.html">
                Contact
            </a>

        </nav>

        <div class="menu-toggle">
            ☰
        </div>

    </div>

</header>


<!-- ====================================
     MOBILE MENU
==================================== -->

<div class="mobile-menu">

    <div class="close-menu">
        ✕
    </div>

    <a href="index.html">
        Home
    </a>

    <a href="about.html">
        About
    </a>
    
     <a href="career.html">Career</a>

    <a href="media.html">
        Media
    </a>

    <a href="contact.html">
        Contact
    </a>

</div>